[submodule ".registry"]
	path = .registry
	url = https://github.com/nbdc-datahub/nbdc-datahub.r-universe.dev
	branch = HEAD
[submodule "NBDCtoolsData"]
	path = NBDCtoolsData
	url = https://github.com/nbdc-datahub/NBDCtoolsData
